<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
    <button id="btn" onclick="add()">추가하기</button>
    <form action="/imagetest" method="post" enctype="multipart/form-data">
        <table border="1" id="test">
            <input name="p_name" type="text"/>
            <tr>
                <td>이미지</td>
            </tr>
            <tr>
                <td><input type="file" name="p_img"></td>
            </tr>
        </table>
        <input type="submit">
    </form>

    <script>
        function add(){
            var tr = "<tr><td><input type='file' name='p_img'></td></tr>";
            document.getElementById("test").insertAdjacentHTML('beforeend', tr)
        }
    </script>
</body>
</html>