<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<div class="upclass" style="z-index:9000" th:fragment="header">
	<nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand logoimg" href="index"><img src="images/logo.ico" alt="" width="100" height="50" style="margin-left:40px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="shopList" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        SHOP
                        </a>                        
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">신상품</a></li>
                            <li class="dropend"><a class="dropdown-item" href="#">MAN</a>
                            	<ul class="dropdown-menu-right">
                            		<li><a class="dropdown-item" href="#">아우터</a></li>
                            		<li><a class="dropdown-item" href="#">상의</a></li>
                            		<li><a class="dropdown-item" href="#">하의</a></li>
                            	</ul>
                            </li>
                            <li class="dropend"><a class="dropdown-item" href="#">WOMAN</a>
                            	<ul class="dropdown-menu-right">
                            		<li><a class="dropdown-item" href="#">아우터</a></li>
                            		<li><a class="dropdown-item" href="#">상의</a></li>
                            		<li><a class="dropdown-item" href="#">하의</a></li>
                            	</ul>
                            </li>
                            <li><a class="dropdown-item" href="#">전체상품</a></li>
                            <li class="dropend"><a class="dropdown-item" href="#">아우터</a>
                            	<ul class="dropdown-menu-right">
                            		<li><a class="dropdown-item" href="#">아우터</a></li>                            		
                            	</ul>
                            </li>
                            <li class="dropend"><a class="dropdown-item" href="#">상의</a>
                            	<ul class="dropdown-menu-right">
                            		<li><a class="dropdown-item" href="#">반팔티셔츠</a></li>
                            		<li><a class="dropdown-item" href="#">긴팔티셔츠</a></li>
                            		<li><a class="dropdown-item" href="#">맨투맨/후드</a></li>
                            		<li><a class="dropdown-item" href="#">니트/카디건</a></li>
                            		<li><a class="dropdown-item" href="#">베스트</a></li>
                            	</ul>
                            </li>
                            <li class="dropend"><a class="dropdown-item" href="#">하의</a>
                            	<ul class="dropdown-menu-right">
                            		<li><a class="dropdown-item" href="#">롱펜츠</a></li>
                            		<li><a class="dropdown-item" href="#">숏펜츠</a></li>
                            		<li><a class="dropdown-item" href="#">스커트</a></li>
                            	</ul>
                            </li>
                            <li><a class="dropdown-item" href="#">슈즈</a></li>
                            <li class="dropend"><a class="dropdown-item" href="#">엑세서리</a>
                            	<ul class="dropdown-menu-right">
                            		<li><a class="dropdown-item" href="#">모자</a></li>
                            		<li><a class="dropdown-item" href="#">헤드커버</a></li>
                            		<li><a class="dropdown-item" href="#">볼마커</a></li>
                            		<li><a class="dropdown-item" href="#">골프장갑</a></li>
                            		<li><a class="dropdown-item" href="#">가방</a></li>
                            		<li><a class="dropdown-item" href="#">양말</a></li>
                            		<li><a class="dropdown-item" href="#">벨트</a></li>
                            		<li><a class="dropdown-item" href="#">기타</a></li>
                            		<li><a class="dropdown-item" href="#">악세서리</a></li>
                            	</ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="detailpage">NOLNOL STORY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sign/indexlogin">LOOKBOOK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">EVENT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Thanks, Archive</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown" style="margin-right:40px;">
                <ul class="navbar-nav">
                    <li class="nav-item" th:object="${session.customer}">
                        <a class="nav-link" href="/sign" th:if="${session.customer} == null">SIGN</a>
                        <a class="nav-link" href="/sign/logout" th:if="${session.customer} != null">SIGN OUT</a>
                        <a class="nav-link" href="/sign/mypage" th:if="${session.customer} != null">MY PAGE</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/sign/notice">CS center</a>
                        <ul class="dropdown-menu">
                        	<li class="nav-item">
                        		<a class="nav-link" href="/sign/notice">NOTICE</a>
                        	</li>
                        	<li><hr class="dropdown-divider"></li>
                        	<li class="nav-item">
                        		<a class="nav-link" href="/sign/review">REVIEW</a>
                        	</li>
                        	<li><hr class="dropdown-divider"></li>
                        	<li class="nav-item">
                        		<a class="nav-link" href="/sign/qanda">Q&A</a>
                        	</li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="uploaditem"><img src="images/search.png" alt="" width="24" height="24" ></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img src="images/basket.png" alt="" width="24" height="24" ></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="footer" th:fragment="footer">
    <ul>
        <li><span>Hilight Brands 주식회사 하이라이트브랜즈 CEO. Jun Kwon Lee</span></li>
        <li><span>Business License No. 788-81-01239 [사업자정보확인]</span></li>
        <li><span>Mail Order Business Registration. 2019-성남분당B-0523</span></li>
        <li><span>Address. 경기도 성남시 분당구 판교로 242 (삼평동) PDC 빌딩 A동 8F</span></li>
        <li><span>The Malbon golf's trademark, logo and other rights are solely used by Modern Works under license
                from</span></li>
        <li><span>Malbon golf. Hilight Brands is a division within Modern Works.</span></li>
    </ul>
</div>