<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>놀놀 회원가입</title>
</head>
<body>
    <form action="" method="get" id="dataFilter">
        <input type="hidden" name="smsReceive" value="false" id="smsUnchecked">
        <input type="hidden" name="emailReceive" value="false" id="emailUnchecked">
        SMS<input type="checkbox" name="smsReceive" value="true" id="smsChecked"><br>
        E-Mail<input type="checkbox" name="emailReceive" value="true" id="emailChecked"><br>
        <input type="submit" value="다음">
    </form>
    <script>
        document.getElementById("dataFilter").addEventListener('submit', ()=>{
            if(document.getElementById("smsChecked").checked){
                document.getElementById("smsUnchecked").disabled = true;
            }
            if(document.getElementById("emailChecked").checked){
                document.getElementById("emailUnchecked").disabled = true;
            }
        })
    </script>
</body>
</html>