<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>놀이골프 | nollnollgolf</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style>
    .findbox{
    width:360px;
    margin:0 auto;
    }
    h3{
    margin-top:80px;
    margin: 0 0 20px;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    line-height: 1;
    }
    .multi-layout {
        justify-content: center;
        text-align: center;
        height: auto;
        overflow: hidden;
        font-size: 0.8em;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .inner_multi-layout {
        text-align: left;
        display: inline-block;
        margin: 0px 60px;
        top: 0;
    }
    .footer {
        padding-left:22%;
        padding-right:22%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 0.8em;
        text-align: left;
    }
    li {
            list-style-type: none;
            font-family: arial;
            padding: 0;
            margin: 0;
        }
    .jump{padding-top:75px;}
    </style>
</head>
<body>
	<div class="upclass" style="z-index:9000">
	<nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand logoimg" href="index"><img src="images/logo.ico" alt="" width="100" height="50" style="margin-left:40px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="shopList" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        SHOP
                        </a>                        
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">신상품</a></li>
                            <li class="dropend"><a class="dropdown-item" href="#">MAN</a>
                            	<ul class="dropdown-menu-right">
                            		<li><a class="dropdown-item" href="#">아우터</a></li>
                            		<li><a class="dropdown-item" href="#">상의</a></li>
                            		<li><a class="dropdown-item" href="#">하의</a></li>
                            	</ul>
                            </li>
                            <li class="dropend"><a class="dropdown-item" href="#">WOMAN</a>
                            	<ul class="dropdown-menu-right">
                            		<li><a class="dropdown-item" href="#">아우터</a></li>
                            		<li><a class="dropdown-item" href="#">상의</a></li>
                            		<li><a class="dropdown-item" href="#">하의</a></li>
                            	</ul>
                            </li>
                            <li><a class="dropdown-item" href="#">전체상품</a></li>
                            <li class="dropend"><a class="dropdown-item" href="#">아우터</a>
                            	<ul class="dropdown-menu-right">
                            		<li><a class="dropdown-item" href="#">아우터</a></li>                            		
                            	</ul>
                            </li>
                            <li class="dropend"><a class="dropdown-item" href="#">상의</a>
                            	<ul class="dropdown-menu-right">
                            		<li><a class="dropdown-item" href="#">반팔티셔츠</a></li>
                            		<li><a class="dropdown-item" href="#">긴팔티셔츠</a></li>
                            		<li><a class="dropdown-item" href="#">맨투맨/후드</a></li>
                            		<li><a class="dropdown-item" href="#">니트/카디건</a></li>
                            		<li><a class="dropdown-item" href="#">베스트</a></li>
                            	</ul>
                            </li>
                            <li class="dropend"><a class="dropdown-item" href="#">하의</a>
                            	<ul class="dropdown-menu-right">
                            		<li><a class="dropdown-item" href="#">롱펜츠</a></li>
                            		<li><a class="dropdown-item" href="#">숏펜츠</a></li>
                            		<li><a class="dropdown-item" href="#">스커트</a></li>
                            	</ul>
                            </li>
                            <li><a class="dropdown-item" href="#">슈즈</a></li>
                            <li class="dropend"><a class="dropdown-item" href="#">엑세서리</a>
                            	<ul class="dropdown-menu-right">
                            		<li><a class="dropdown-item" href="#">모자</a></li>
                            		<li><a class="dropdown-item" href="#">헤드커버</a></li>
                            		<li><a class="dropdown-item" href="#">볼마커</a></li>
                            		<li><a class="dropdown-item" href="#">골프장갑</a></li>
                            		<li><a class="dropdown-item" href="#">가방</a></li>
                            		<li><a class="dropdown-item" href="#">양말</a></li>
                            		<li><a class="dropdown-item" href="#">벨트</a></li>
                            		<li><a class="dropdown-item" href="#">기타</a></li>
                            		<li><a class="dropdown-item" href="#">악세서리</a></li>
                            	</ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">NOLNOL STORY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">LOOKBOOK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">EVENT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Thanks, Archive</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown" style="margin-right:40px;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="sign">SIGN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CS center</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="uploaditem"><img src="images/search.png" alt="" width="24" height="24" ></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img src="images/basket.png" alt="" width="24" height="24" ></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
    <!-- 상단메뉴 다른 컨텐츠 가리는것 방지 -->
    <div class="jump"></div>
    <div class="findbox">        
            <fieldset>
                <h3 style="margin-top:100px;">ID 찾기</h3>
		        <fidelset>
		        <div class="mb-3 ">
			        <label for="loginid" class="form-label">이름</label>
			        <input type="text" class="form-control" id="loginid" placeholder="ID를 입력해주세요">
		        </div>
		        <div class="mb-3">
			        <label for="loginpw" class="form-label">이메일</label>
			    <input type="password" class="form-control" id="loginpw" placeholder="EMAIL를 입력해주세요">
		        </div>
                <button type="submit" class="btn btn-primary">ID찾기</button>
            </fieldset>        
    </div>
    <div class="jump"></div>
    <!-- 회사 안내 -->
    <hr>
    <div class="multi-layout">
        <div class="inner_multi-layout">
            <ul>
                <li><span>개인정보처리방침</span></li>
                <li><span>이용약관</span></li>
                <li><span>주문조회</span></li>
                <li><span>공지사항</span></li>
                <li><span>Q&A</span></li>
                <li><span>회원가입</span></li>
            </ul>
        </div>
        <div class="inner_multi-layout">
            <ul>
                <li style="margin-bottom: 10px;"><span><b>CS Center</b></span></li>
                <li><span>Mon-Fri(10:00 - 17:00)</span></li>
                <li><span>031-8060-2090</span></li>
                <li><span>반품배송지: 경기도 안산시 단원구 시화호수로 835</span></li>
                <li><span>로지스벨리 3층</span></li>
                <li><span>마케팅 제휴 : marketing@hibs.co.kr</span></li>
            </ul>
        </div>
        <div class="inner_multi-layout">
            <ul style="margin-bottom: 10px;">
                <li style="margin-bottom: 10px;"><span><b>계좌 안내</b></li>
                <li><span>계좌번호 : 신한은행 140-013-349110</span></li>
                <li><span>예금주 : 주식회사 하이라이트브랜즈</span></li>

            </ul>
            <ul>
                <li style="margin-bottom: 10px;"><span><b>매장 안내</b></li>
                <li><span>전국 매장 정보</span></li>
                <li><span>대리점 입점문의 : insung.park@hibs.co.kr</span></li>
            </ul>
        </div>
        <br>
        <br>
    </div>
    <hr style="clear:both;">
    <div class="footer">
        <ul>
            <li><span>Hilight Brands 주식회사 하이라이트브랜즈 CEO. Jun Kwon Lee</span></li>
            <li><span>Business License No. 788-81-01239 [사업자정보확인]</span></li>
            <li><span>Mail Order Business Registration. 2019-성남분당B-0523</span></li>
            <li><span>Address. 경기도 성남시 분당구 판교로 242 (삼평동) PDC 빌딩 A동 8F</span></li>
            <li><span>The Malbon golf's trademark, logo and other rights are solely used by Modern Works under license
                    from</span></li>
            <li><span>Malbon golf. Hilight Brands is a division within Modern Works.</span></li>
        </ul>
    </div>

</body>
</html>