@charset "utf-8";
.product_view{
    padding:0 0 0 395px;
    width:962px;
    box-sizing: border-box;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}
.product_view h2{
    font-size: 24px; 
    color : #232323;
    line-height: 26px;
    padding : 0 0 20px;
    border-bottom:2px solid #333;
    margin: 0 0 15px;
}
.product_view .img{
    position:absolute;
    left:0;
    top:0;
}
.product_view .img >ul > li{
    float:left; padding:10px 10px 10px 10px;
}
.product_view .img > img{
    width:370px;
    height:370px;
    border:1px solid gray;
}

.product_view img li{float:left; padding : 10px 10px 0 0; display:inline;} 
.product_view img li:after{content:"";display:block;clear:both;}
.product_view .img li img{
    width:70px; height:70px; border:1px solid gray;
}
.product_view .img li.on img{
    width:70px; height:70px; border:1px solid blueviolet;
}
.product_view table th,
.product_view table td{
    padding:14px;
    font-size: 15px; color:#444; text-align:left;
}

.product_view table td.price{
    font-size: 22px;
}
.product_view table td.total{
    font-size: 19px; color:#0a56a9;
}
.product_view table td.total b{
    font-size: 22px;
}
.product_view table .length{
    position: relative;
    border: 1px solid #c6c6c6;
    width:71px;
    height:32px;
}
.product_view table .length input {
    width:67px; height:30px; border:none; text-align: center;
}


.product_view .btns{text-align: center; padding:45px 0 0;}
.product_view .btns > a{
    display:inline-block;
    width:140px;
    height:45px;
    font-size:16px;
    color:#fff;
    border-radius: 2px;
    line-height: 42px;
    text-decoration: none;
}
.product_view .btns > a.btns1{background:#666;}
.product_view .btns > a.btns2{background:#0a56a9;}

.jump{padding-top:75px;}
li a{text-decoration: none;color:#333;}
li a:hover{color:#333;}

/* -------상세내용------ */
.btnlist{
    width:100%;
    max-width:1260px;
    vertical-align: center;
    justify-content: center;
    margin:0 auto;
}
.btnlist button{
    width:10%;
    float:left;
    border:1px solid #888;
    flex-basis: 100%;
    justify-content: center;
    line-height: 1em;
    align-items: center;
    color: black;
    background: #f2f2f2;;
    font-size:13px;
    height:40px;
    margin: 0 auto;
}
.btnlist button span{
    font-size: 13px;
}
.active{
    border:1px solid #333;
}
.state_select{
    width:90%;
    border:1px solid #d7d5d5;
    background:#fff;
    background-size: auto 40px;
    padding: 0 20px 0 8px;
    height:30px;
    margin:0 auto;
    
}
.state{
    float:left;
    width:100%;
    padding:10px;
}
.period{
    float:left;
    width:100%;
    vertical-align: center;
    justify-content: center;
    margin:0 auto;
    list-style: nowrap;
    padding: 10px;
}
section span{
    font-size:16px; float:left; vertical-align: center;
}
form span{
    font-size:16px; float:left; vertical-align: center;
}
.button_group{
    margin-left:5%;
}
.button_group button{
    width: 18%;
    height:30px;
    border:1px solid #888;
    border-radius: 5px;
    margin: 10px;
    background: #fff;
    display:inline-block;
}
li{
    padding: 0 0 2px 18px;
    line-height: 1.5;
    text-align: left;
    background-size: 14px auto;
}
.notice{
    margin: 8px 4px;
    font-size: 12px;
    color: #757575;
    list-style: none;
}
.btn1,.btn2,btn3{
    border-top:1px solid #e8e8e8;
    border-left:1px solid #e8e8e8;
    border-right:1px solid #e8e8e8;
}
#first_state, #second_state, #third_state{
    width:100%;
    padding: 20px;

    /* background:#f1f1f1; */
}
#first_state{display:block;}
#second_state{display:none;}
#third_state{display:none;}