.jump{padding-top:75px;}

.contents{
    max-width:1260px;
    width:100%;
    vertical-align: center;
    justify-content: center;
    margin:0 auto;
}
h3.title{
    padding: 0 14px;
    line-height: 43px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background: #737781;
    margin:0;
    float:inline;
    width:100%;
}
.addlist{
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    background: #d5d5d5;
}
p{ padding : 0 0 0 14px;}
p.name{font-size: 13px; line-height: 43px; color: #508bed; font-weight: bold; margin:0px;}
.newlist{
    margin-top:7px;
    color: #fff;
    border: 1px solid #333;
    border-bottom-color: #373d4b;
    background: #333;
    width:100px;
    text-align: center;
    height:30px;
    float:right;
    line-height:30px;
}
.newlist a{font-size: 11px; font-weight: bold; text-decoration: none; color:#fff; text-align: center; }
.newlist a:hover{color:#fff;}

.other{
    width:100%;
    border-bottom: 1px solid #d5d5d5;
}
.info{
    color: #757575;
    width:100%;
    padding: 14px 0;
    font-size: 13px;
    background: #fff;
}
.info p{margin:0px;}

.btnlist{
    margin: 0;
    padding: 0 14px 14px;
    background: #fff;
    text-align: right;
}
.select{float:left; text-align: left;}
.leftbtn{
    display: inline-block;
    box-sizing: border-box;
    padding: 2px 8px;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: #222;
    background-color: #f0f0f0;
}
.leftbtn:hover{color:#222;}
.rightbtn{
    display: inline-block;
    box-sizing: border-box;
    padding: 4px 8px;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: right;
    white-space: nowrap;
    color: #222;
}
.rightbtn:hover{color:#222;}
#btn1{display:block;}
#btn2{display:none;}

.noadrress{
    background: #f1f1f1;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    line-height:43px;
    vertical-align: middle;
}
.nono{
    font-size: 13px;
    text-align: center;
    color: #333;
    font:"맑은 고딕";
    padding: 0 0 0 14px;
}