.screen-base{
    border: 1px solid black;
}

.big_category .imgs{
    margin: 10px;
    margin-top: 10px;
}

.product_best{
    width: 264px;
    height: 264px;
}

#menu_top{
    margin-top: 0px;
    margin-right: 2.3%;
    margin-bottom: 10px;
    margin-left: 0px;
}

.horizontal_list{
    padding: 0;
    text-align: center;
}

.horizontal_list li{
    float: left;
    margin: 0 10px;
}

/* 요소의 갯수가 많은 부분은 가로폭을 제한하고 가운데로 위치합니다. */
.elements_group_pointing{
    width:100%;
    height:auto;
    max-width: 1400px;
    margin: 0 auto;
}

.catalog_wrap {
    padding: 0;
    margin: 0;
    display: flex;
}

.catalog_wrap div {
    padding-right: 10px;
    width: 25%;
    display: inline-block;
}

.bestitem_list {
    display: inline;
    padding: 0;
}

.bestitem_list li {
    display: inline-block;
    margin: 0 10px;
}


.product_best img{
    width: 100%;
    height: 100%;
}
.after{display:none;}
.product_best:hover .before{
    display:none;
}
.product_best:hover .after{
    display:block;
}
.spanlist{
    color:#707070;
}
.spanlist:hover{
    color:#333;
    text-decoration-line:underline;
    cursor:pointer;
}
.best_list {
    overflow: hidden;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width:100%;
    height:auto;
    max-width: 1200px;
    margin: 0 auto;
}
.best_items{
    display: inline-block;
    justify-content: center;
    margin:0 0.5%;
}
.signbtn{
    background: #333;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #333;
    min-width: 120px;
    min-height:40px;
    transition: all .3s ease;
}
.signbtn:hover{
    background:#fff;
    color:#333;
}