.jump{padding-top:75px;}

.contents{
    max-width:1260px;
    width:100%;
    vertical-align: center;
    justify-content: center;
    margin:0 auto;
}
.title{
    background-color: #fff;
    width:100%;
    margin-bottom:25px;
}
.title span{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #333;
}
.btnright{
    position: relative;
    display: block;
    margin: 0 5px;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    font-weight: bold;
    background: #f3f3f3;
    text-transform: uppercase;
    color: #333;
    list-style: none;
    border-radius: 50px;
    float:right;
    text-decoration: none;
}
.btnright:hover{background: #153e35; color: #fff;}


.board{
    width:100%;
    /* border-bottom: 1px solid #e8e8e8; */
    margin-bottom:1px;
    display:inline-block;

}
.board .line{
    width:100%;
    display:inline-block;
}
.board .line .number{
    width: 10%;
    float: left;
    margin: 0;
    padding: 20px 0;
    font-size: 15px;
    line-height: 1.6em;
    color: #555555;
    border-bottom: 1px solid #e8e8e8;
}
.board .line .product{
    width: 15%;
    float: left;
    margin: 0;
    padding: 20px 0;
    font-size: 15px;
    line-height: 1.6em;
    color: #555555;
    border-bottom: 1px solid #e8e8e8;
}
.board .line .line_title{
    width: 45%;
    float: left;
    margin: 0;
    padding: 20px 0;
    font-size: 15px;
    line-height: 1.6em;
    color: #353535;
    border-bottom: 1px solid #e8e8e8;
    text-decoration: none;
}
.board .line .a{cursor:pointer;}
.board .line .name{
    width: 20%;
    float: left;
    margin: 0;
    padding: 20px 0;
    font-size: 15px;
    line-height: 1.6em;
    color: #353535;
    border-bottom: 1px solid #e8e8e8;
}
.board .line .date{
    width: 10%;
    float: left;
    margin: 0;
    padding: 20px 0;
    font-size: 15px;
    line-height: 1.6em;
    color: #353535;
    border-bottom: 1px solid #e8e8e8;
}

.middle{
    width:100%;
    padding:20px;
    vertical-align: center;
    justify-content: center;
    margin:0 auto;
}
.search{width:100%;float:right;}
.select_line{
    width:100%;
    float:right;
}
.searchbtn{
    background: #333;
    /* display: inline-block; */
    vertical-align: middle;
    padding: 0 10px;
    height: 29px;
    line-height: 29px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    width: 10%;
    float:right;
}
.search_margin{
    margin:0 3.5px 0 0;
    float:right;
}
.writebtn{
    background: #333;
    /* display: inline-block; */
    vertical-align: middle;
    padding: 0 10px;
    height: 29px;
    line-height: 29px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    min-width:150px;
    width:10%;
    text-decoration: none;
    margin-top:10px;
    margin-bottom:10px;
    float:right;
    
}
.writebtn:hover{background: #333;color: #fff;}