.jump{padding-top:100px;}
.form_box {
    max-width:800px;
    width:100%;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-left: auto;
    margin-right:auto;
}
.input_field {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 3px 0;
    font-size: 14px;
    width: 100%;
}
.input_field_a {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 3px 0;
    font-size: 14px;
    width: 70%;
}
.write_button {
    background-color: #475d9f;
    border: 1px solid #323f6b;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 18px;
}
.list_tag{
    font-size:16px;
    padding:10px;
    margin:0;
}
.judge-thing{border:1px solid #e8e8e8}

.btn-btn{
    border:1px solid gray;
    background: #e8e8e8;
    border-radius:5px;
    font-size:12px;
    padding:3px;
    margin-bottom:7px;
}
#man_up, #woman_up, #man_down, #woman_down{
    display:none;
}