<!DOCTYPE html>
<html lang="KO">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>놀이골프 | nollnollgolf</title>
    <link rel="stylesheet" type="text/css" href="./css/detailpage.css">
    <link rel="stylesheet" type="text/css" href="./css/header.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script  src="https://code.jquery.com/jquery-3.6.1.min.js"  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="  crossorigin="anonymous"></script>
</head>
<style>
   li {
            list-style-type: none;
            font-family: arial;
            padding: 0;
            margin: 0;
        }
     .multi-layout {
            justify-content: center;
            text-align: center;
            height: auto;
            overflow: hidden;
            font-size: 0.8em;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .inner_multi-layout {
            text-align: left;
            display: inline-block;
            margin: 0px 60px;
            top: 0;
        }
    .footer {
            padding-left:22%;
            padding-right:22%;
            padding-top: 1%;
            padding-bottom: 1%;
            font-size: 0.8em;
            text-align: left;
        }
</style>
<body>
    <div th:insert="~{fragment/headerfooter :: header}"></div>
    <div class="jump"></div>
    <div class="product_view">
        <h2>제목 영역 </h2> <a></a>
        <table>

            <colgroup>
                <col style="width:175px;">
            </col>
        
            </colgroup>
            <tbody>
                <tr>
                    <th>판매가</th>
                    <td class="price" id="product_cost">200,000</td>
                </tr>
                <tr>
                    <th>구매수량</th>
                    <td>
                        <div class="length">
                            <input type="number" min="0" id="pd_count" value='1'>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>사이즈 선택</th>
                    <td>
                        <select>
                            <option>사이즈1</option>
                            <option>사이즈2</option>
                            <option>사이즈3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>결제금엑</th>
                    <td class="total"><b id="cost">xxx</b>원</td>
                </tr>
            </tbody>
        </table> 
        <div class="img" >
            <!-- 사진은 최대 3개까지만 저장할 수 있도록 수정 예정 -->
            <img src="images/b20.jpg" alt="" id="thumbnail">
            <!-- 첫번째 사진파일 저장 -->
            <ul>
                <li class="" id="firstbtn"><img src="images/b20.jpg " alt="" id="first"></li>
                <!-- 첫번째 사진 -->
                <li class="" id="secondbtn"><img src="images/b19.jpg " alt="" id="second"></li>
                <!-- 두번째 사진 -->
                <li class="" id="thirdbtn"><img src="images/b18.jpg " alt="" id="third"></li>
                <!-- 새번째 사진 -->
            </ul>
        </div>
            <div class="btns">
                <a href="#" class="btns1">장바구니</a>
                <a href="#" class="btns2">구매</a>
            </div>
    </div>
    <div class="jump"></div>
    <div style="padding-top:50px"></div>
    <div class="btnlist">
        <div class="temporary text-center">
            <button type="button" id="btn1" >상세정보(<span class="">x</span>건)</button>
            <button type="butoon" id="btn2" >상품후기(<span class="">x</span>건)</button>
            <button type="butoon" id="btn3" >상품문의(<span class="">x</span>건)</button>
        </div>
        <div id="first_state">
            <div class="detailimage">
                <img src="/images/gift_0907.jpg">
            </div>
        </div>
        
        <div id="second_state">
            <form>
                <div class="period">
                    <span style="padding-top:10px">기간</span>
                    <div class="button_group">
                        <button type="button" class="btn_period">오늘</button>
                        <button type="button" class="btn_period">1개월</button>
                        <button type="button" class="btn_period">3개월</button>
                        <button type="button" class="btn_period">6개월</button>
                        <button type="button" class="btn_period">1년</button>
                    </div>
                </div>
            <ul class="notice">
                <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-low-fill" viewBox="0 0 16 16">
                    <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8.5 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm5-5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm-11 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9.743-4.036a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm-7.779 7.779a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm7.072 0a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707zM3.757 4.464a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707z"/>
                  </svg> 완료 후 36개월 이상 경과한 주문은 <a href="">[과거주문내역]</a>에서 확인할 수 있습니다.</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-low-fill" viewBox="0 0 16 16">
                    <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8.5 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm5-5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm-11 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9.743-4.036a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm-7.779 7.779a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm7.072 0a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707zM3.757 4.464a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707z"/>
                  </svg> 리뉴얼 전에 주문한 내역은 <a href="#">[이전 주문내역]</a>에서 확인할 수 있습니다.</li>
            </ul>
            </form>
        </div>

        <div id="third_state">
            <form>
                <div class="qnalist">
                    <div class="qnarequest">
                        <a href="#" class="requesta"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-lock2" viewBox="0 0 16 16">
                            <path d="M8 5a1 1 0 0 1 1 1v1H7V6a1 1 0 0 1 1-1zm2 2.076V6a2 2 0 1 0-4 0v1.076c-.54.166-1 .597-1 1.224v2.4c0 .816.781 1.3 1.5 1.3h3c.719 0 1.5-.484 1.5-1.3V8.3c0-.627-.46-1.058-1-1.224z"/>
                        </svg><strong>제목영역</strong></a>
                        <span class="writerqna">작성자</span>
                        <span class="dateqna">1234-56-78</span>
                    </div>
                    <div class="qnarequest">
                        <a href="#" class="replya"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-lock2" viewBox="0 0 16 16">
                            <path d="M8 5a1 1 0 0 1 1 1v1H7V6a1 1 0 0 1 1-1zm2 2.076V6a2 2 0 1 0-4 0v1.076c-.54.166-1 .597-1 1.224v2.4c0 .816.781 1.3 1.5 1.3h3c.719 0 1.5-.484 1.5-1.3V8.3c0-.627-.46-1.058-1-1.224z"/>
                        </svg><strong>제목영역</strong></a>
                        <span class="managerqna">놀이골프 | nollnollgolf</span>
                        <span class="dateqna">1234-56-78</span>
                    </div>
                    <!-- 고객이 q@a로 물어보는 것 -->
                </div>
            </form>
        </div>
</div>

    <!-- 회사 안내 -->
    <hr>
    <div class="multi-layout">
        <div class="inner_multi-layout">
            <ul>
                <li><span>개인정보처리방침</span></li>
                <li><span>이용약관</span></li>
                <li><span>주문조회</span></li>
                <li><span>공지사항</span></li>
                <li><span>Q&A</span></li>
                <li><span>회원가입</span></li>
            </ul>
        </div>
        <div class="inner_multi-layout">
            <ul>
                <li style="margin-bottom: 10px;"><span><b>CS Center</b></span></li>
                <li><span>Mon-Fri(10:00 - 17:00)</span></li>
                <li><span>031-8060-2090</span></li>
                <li><span>반품배송지: 경기도 안산시 단원구 시화호수로 835</span></li>
                <li><span>로지스벨리 3층</span></li>
                <li><span>마케팅 제휴 : marketing@hibs.co.kr</span></li>
            </ul>
        </div>
        <div class="inner_multi-layout">
            <ul style="margin-bottom: 10px;">
                <li style="margin-bottom: 10px;"><span><b>계좌 안내</b></li>
                <li><span>계좌번호 : 신한은행 140-013-349110</span></li>
                <li><span>예금주 : 주식회사 하이라이트브랜즈</span></li>

            </ul>
            <ul>
                <li style="margin-bottom: 10px;"><span><b>매장 안내</b></li>
                <li><span>전국 매장 정보</span></li>
                <li><span>대리점 입점문의 : insung.park@hibs.co.kr</span></li>
            </ul>
        </div>
        <br>
        <br>
    </div>
    <hr style="clear:both;">
    <div th:insert="~{fragment/headerfooter :: footer}"></div>
<script>
    const product_cost = document.getElementById('product_cost').innerText.replace(',', '');
    var pd_count = document.getElementById('pd_count');

    pd_count.addEventListener('input', () => {
        document.getElementById('cost').innerHTML = product_cost * pd_count.value;
    })

    $('#btn1').click(function(){
        $("#first_state").show();
        $("#second_state").hide();
        $("#third_state").hide();
        $('#btn1').css('border', '1px solid #555');
        $('#btn2').css('border', '1px solid #e8e8e8');
        $('#btn3').css('border', '1px solid #e8e8e8');
    })
    $('#btn2').click(function(){
        $("#first_state").hide();
        $("#second_state").show();
        $("#third_state").hide();
        $('#btn1').css('border', '1px solid #e8e8e8');
        $('#btn2').css('border', '1px solid #555');
        $('#btn3').css('border', '1px solid #e8e8e8');
    })
    $('#btn3').click(function(){
        $("#first_state").hide();
        $("#second_state").hide();
        $("#third_state").show();
        $('#btn1').css('border', '1px solid #e8e8e8');
        $('#btn2').css('border', '1px solid #e8e8e8');
        $('#btn3').css('border', '1px solid #555');
    })
    var first = "images/b20.jpg";
    var second = "images/b19.jpg";
    var third = "images/b18.jpg";
    $("#first").attr("src", first);
    $("#second").attr("src", second);
    $("#third").attr("src", third);

    $('#firstbtn').click(function(){
        $("#thumbnail").attr("src", first);
    })
    $('#secondbtn').click(function(){
        $("#thumbnail").attr("src", second);
    })
    $('#thirdbtn').click(function(){
        $("#thumbnail").attr("src", third);
    })

    // var imagedelete=null;
    // imagedelete = $('#thumbnail img').detach();
</script>

</body>
</html>
