<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/imagetest" method="post" enctype="multipart/form-data">
        <table border="1" id="test">
            <tr>
                <td>상품명</td>
                <td>이미지</td>
            </tr>
            <tr>
                <td><input type="text" name="imgName"></td>
                <td><input type="file" name="img"></td>
            </tr>
        </table>
        <input type="submit">
    </form>
    <button id="btn" onclick="add()">추가하기</button>

    <script>
        function add(){
            var tr = "<tr><td><input type='text' name='imgName'></td><td><input type='file' name='img'></td></tr>";
            document.getElementById("test").insertAdjacentHTML('beforeend', tr)
        }
    </script>
</body>
</html>