<!DOCTYPE html>
<html lang="KO">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/mypage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>놀이골프 | MyPage</title>
</head>
<style>
     .multi-layout {
            justify-content: center;
            text-align: center;
            height: auto;
            overflow: hidden;
            font-size: 0.8em;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .inner_multi-layout {
            text-align: left;
            display: inline-block;
            margin: 0px 60px;
            top: 0;
        }
    .footer {
            padding-left:22%;
            padding-right:22%;
            padding-top: 1%;
            padding-bottom: 1%;
            font-size: 0.8em;
            text-align: left;
        }
        li {
            list-style-type: none;
            font-family: arial;
            padding: 0;
            margin: 0;
        }
</style>
<body>
    <div class="jump"></div>
    <div class="jump"></div>
    <!-- 회사 안내 -->
    
    <div class="contents">
        <h2><strong style="margin:0 0 25px;">MY PAGE</strong></h2>
        <div class="ratinglist grid">
            <div class="ratingtext">
                <div class="">
                    <li><span><i class="">abc</i></span>님의 구매등급은
                        <span><i class="">abc</i></span>입니다.</li>
                    <li><span><i class="">abc</i></span>까지 남은 구매금액은
                        <span><i class="">abc</i></span>원 입니다.</li>
                </div>
                <br>
                <i class="" style="margin-left:50px;">에베벱</i>원 이상 구매시
                <i class="">x</i>%을 추가 적립 받으실 수 있습니다.
            </div>
        </div>
        <div class="shoppinglist grid text-center">
            <ul style="padding-bottom:10px; padding:0;">
                <div class="title"><h3><strong>나의 쇼핑정보</strong></h3></div>
                <li class="g-col-2">
                    <a href="usablereserve"><strong>가용적립금</strong></a><br>
                    <span>0원</span>
                </li>
                <li class="g-col-2">
                    <strong>총적립금</strong><br>
                    <span>0원</span>
                </li>
                <li class="g-col-2">
                    <strong>사용적립금</strong><br>
                    <span>0원</span>
                </li>
                <li class="g-col-2">
                    <a href="deposit"><strong>예치금</strong></a><br>
                    <span>0원</span>
                </li>
                <li class="g-col-2">
                    <strong>총주문</strong><br>
                    <span>0회</span>
                </li>
                
            </ul>
        </div>
        <div class="orderlist">
            <ul style="padding-bottom:10px; padding:0;">
                <div class="title"><h3><strong>나의 주문처리 현황</strong></h3></div>
                <li class="g-col-3 four">
                    <a href="#"><strong>입금전</strong></a><br>
                    <span>0원</span>
                </li>
                <li class="g-col-3 four">
                    <a href="#"><strong>배송준비중</strong></a><br>
                    <span>0원</span>
                </li>
                <li class="g-col-3 four">
                    <a href="#"><strong>배송중</strong></a><br>
                    <span>0원</span>
                </li>
                <li class="g-col-3 four">
                    <a href="#"><strong>배송완료</strong></a><br>
                    <span>0원</span>
                </li>
            </ul>
            <ul style="padding-bottom:10px; padding:0;">
                <div class="title"><h3><strong>   </strong></h3></div>
                <li class="g-col-3 three">
                    <a href="#"><strong>취소:</strong></a>
                    <span> 0</span>
                </li>
                <li class="g-col-3 three">
                    <a href="#"><strong>교환: </strong></a>
                    <span> 0</span>
                </li>
                <li class="g-col-3 three">
                    <a href="#"><strong>반품: </strong></a>
                    <span> 0</span>
                </li>
            </ul>
        </div>
        <div class="menulist">
            <ul>
                <li><a href="#">주문목록</a></li><br>
                <li><a href="#">회원정보</a></li><br>
                <li><a href="#">관심상품</a></li><br>
                <li><a href="usablereserve">적립금</a></li><br>
                <li><a href="deposit">예치금</a></li><br>
                <li><a href="#">게시물관리</a></li>
                <li><a href="#">배송 주소록 관리</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="multi-layout">
        <div class="inner_multi-layout">
            <ul>
                <li><span>개인정보처리방침</span></li>
                <li><span>이용약관</span></li>
                <li><span>주문조회</span></li>
                <li><span>공지사항</span></li>
                <li><span>Q&A</span></li>
                <li><span>회원가입</span></li>
            </ul>
        </div>
        <div class="inner_multi-layout">
            <ul>
                <li style="margin-bottom: 10px;"><span><b>CS Center</b></span></li>
                <li><span>Mon-Fri(10:00 - 17:00)</span></li>
                <li><span>031-8060-2090</span></li>
                <li><span>반품배송지: 경기도 안산시 단원구 시화호수로 835</span></li>
                <li><span>로지스벨리 3층</span></li>
                <li><span>마케팅 제휴 : marketing@hibs.co.kr</span></li>
            </ul>
        </div>
        <div class="inner_multi-layout">
            <ul style="margin-bottom: 10px;">
                <li style="margin-bottom: 10px;"><span><b>계좌 안내</b></li>
                <li><span>계좌번호 : 신한은행 140-013-349110</span></li>
                <li><span>예금주 : 주식회사 하이라이트브랜즈</span></li>

            </ul>
            <ul>
                <li style="margin-bottom: 10px;"><span><b>매장 안내</b></li>
                <li><span>전국 매장 정보</span></li>
                <li><span>대리점 입점문의 : insung.park@hibs.co.kr</span></li>
            </ul>
        </div>
        <br>
        <br>
    </div>
    <hr style="clear:both;">
    <div class="footer">
        <ul>
            <li><span>Hilight Brands 주식회사 하이라이트브랜즈 CEO. Jun Kwon Lee</span></li>
            <li><span>Business License No. 788-81-01239 [사업자정보확인]</span></li>
            <li><span>Mail Order Business Registration. 2019-성남분당B-0523</span></li>
            <li><span>Address. 경기도 성남시 분당구 판교로 242 (삼평동) PDC 빌딩 A동 8F</span></li>
            <li><span>The Malbon golf's trademark, logo and other rights are solely used by Modern Works under license
                    from</span></li>
            <li><span>Malbon golf. Hilight Brands is a division within Modern Works.</span></li>
        </ul>
    </div>
</body>
</html>