<!DOCTYPE html>
<html lang="KO">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>놀이골프 | 상세페이지</title>
    <link rel="stylesheet" type="text/css" href="./css/view.css">
    <link rel="stylesheet" type="text/css" href="./css/header.css">
</head>
<style>
   li {
            list-style-type: none;
            font-family: arial;
            padding: 0;
            margin: 0;
        }
     .multi-layout {
            justify-content: center;
            text-align: center;
            height: auto;
            overflow: hidden;
            font-size: 0.8em;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .inner_multi-layout {
            text-align: left;
            display: inline-block;
            margin: 0px 60px;
            top: 0;
        }
    .footer {
            padding-left:22%;
            padding-right:22%;
            padding-top: 1%;
            padding-bottom: 1%;
            font-size: 0.8em;
            text-align: left;
        }
</style>
<body>
    <!-- <div class="menu_box">
        <header>
            <div class="logo">
                <a href="index.html"><img src="images/logo.ico"></a>
            </div>
                <ul class="menu">
                    <li><a href="shopList.html">SHOP</a>
                        <ul class="dropdown-content">
                            <ul>
                                <li><a href="#">신상품</a></li>
                                <li class="dropdown-right"><a href="#">MAN</a>
                                    <ul>
                                        <li><a href="#">아우터</a></li>
                                        <li><a href="#">상의</a></li>
                                        <li><a href="#">하의</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-right"><a href="#">WOMAN</a>
                                    <ul>
                                        <li><a href="#">아우터</a></li>
                                        <li><a href="#">상의</a></li>
                                        <li><a href="#">하의</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">전체상품</a></li>
                                <li><a href="#">아우터</a></li>
                                <li><a href="#">상의</a></li>
                                <li><a href="#">하의</a></li>
                                <li><a href="#">슈즈</a></li>
                                <li><a href="#">액세서리</a></li>
                            </ul>
                        </ul>
                    </li>
                    <li><a href="view.html">NOLNOL STORY</a></li>
                    <li><a href="#">LOOKBOOK</a></li>
                    <li><a href="#">EVENT</a></li>
                    <li><a href="#">Thanks, Archive</a></li>
                </ul>
            <div class="othermenu">
                <ul>
                    <li><a href="sign.html">로그인/회원가입</a></li>
                    <li><a href="#">CS Center</a></li>
                    <li class="icon"><a href="uploaditem.html"><img src="images/search.png"></a></li>
                    <li class="icon"><a href="upload.html"><img src="images/basket.png"></a></li>
                </ul>
            </div>
        </header>
    </div> -->
    <div class="jump"></div>
    <div class="jump"></div>
    <div class="product_view">
        <h2>제목 영역 에베베베벱벱벱베베베베베베베베베</h2>
    <table>
        <caption>
            <details class="hide">
                <!-- 수정필요 -->
                <summary>상품정보</summary>
                에베베베베베베벱베베베베베벱
            </details>
        </caption>
        <colgroup>
            <col style="width:175px;">
        </col>
    
        </colgroup>
        <tbody>
            <tr>
                <th>판매가</th>
                <td class="price">200,000</td>
            </tr>
            <tr>
                <th>구매수량</th>
                <td>
                    <div class="length">
                    <input type="number" min="0">
                    <!-- <a href="#a">증가</a>
                    <a href="#a">감소</a> -->
                    </div>
                </td>
            </tr>
            <tr>
                <th>사이즈 선택</th>
                <td>
                    <select>
                        <option>에베벱ㅂㅂ베베베베</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>결제금엑</th>
                <td class="total"><b>xxx</b>원</td>
            </tr>
        </tbody>
    </table> 
    <div class="img">
        <img src="images/b20.jpg " alt="">
        <ul>
            <li class="on"><a href="#"><img src="images/b20.jpg " alt=""></a></li>
            <li><a href="#"><img src="images/b20.jpg " alt=""></a></li>
        </ul>
    </div>
    <div class="btns">
        <a href="#" class="btns1">장바구니</a>
        <a href="#" class="btns2">구매</a>
    </div>
    </div>
    <!-- 회사 안내 -->
    <hr>
    <div class="multi-layout">
        <div class="inner_multi-layout">
            <ul>
                <li><span>개인정보처리방침</span></li>
                <li><span>이용약관</span></li>
                <li><span>주문조회</span></li>
                <li><span>공지사항</span></li>
                <li><span>Q&A</span></li>
                <li><span>회원가입</span></li>
            </ul>
        </div>
        <div class="inner_multi-layout">
            <ul>
                <li style="margin-bottom: 10px;"><span><b>CS Center</b></span></li>
                <li><span>Mon-Fri(10:00 - 17:00)</span></li>
                <li><span>031-8060-2090</span></li>
                <li><span>반품배송지: 경기도 안산시 단원구 시화호수로 835</span></li>
                <li><span>로지스벨리 3층</span></li>
                <li><span>마케팅 제휴 : marketing@hibs.co.kr</span></li>
            </ul>
        </div>
        <div class="inner_multi-layout">
            <ul style="margin-bottom: 10px;">
                <li style="margin-bottom: 10px;"><span><b>계좌 안내</b></li>
                <li><span>계좌번호 : 신한은행 140-013-349110</span></li>
                <li><span>예금주 : 주식회사 하이라이트브랜즈</span></li>

            </ul>
            <ul>
                <li style="margin-bottom: 10px;"><span><b>매장 안내</b></li>
                <li><span>전국 매장 정보</span></li>
                <li><span>대리점 입점문의 : insung.park@hibs.co.kr</span></li>
            </ul>
        </div>
        <br>
        <br>
    </div>
    <hr style="clear:both;">
    <div class="footer">
        <ul>
            <li><span>Hilight Brands 주식회사 하이라이트브랜즈 CEO. Jun Kwon Lee</span></li>
            <li><span>Business License No. 788-81-01239 [사업자정보확인]</span></li>
            <li><span>Mail Order Business Registration. 2019-성남분당B-0523</span></li>
            <li><span>Address. 경기도 성남시 분당구 판교로 242 (삼평동) PDC 빌딩 A동 8F</span></li>
            <li><span>The Malbon golf's trademark, logo and other rights are solely used by Modern Works under license
                    from</span></li>
            <li><span>Malbon golf. Hilight Brands is a division within Modern Works.</span></li>
        </ul>
    </div>

</body>
</html>


<th></th>
